<strong> Olá, {{ deliveryman }}</strong>
<p>O produto <strong>{{product}}</strong> associado ao pedido {{id}} não deve mais ser entregue ao destinatário</p>
<p>
  <strong>Cliente: </strong> {{destination.name}} </br>
  <strong>Endereço: </strong> Rua {{destination.street}} número {{destination.number}}, {{destination.city}},
  {{destination.state}}</br>
  <strong>CEP: </strong> {{destination.postal_code}} </br>
</p>
