<strong> Olá, {{ deliveryman }}</strong>
<p>O produto <strong>{{product}}</strong> está disponível para coleta</p>
<p>
  <strong>Cliente: </strong> {{destination.name}} </br>
  <strong>Endereço: </strong> Rua {{destination.street}} número {{destination.number}}, {{destination.city}},
  {{destination.state}}</br>
  <strong>CEP: </strong> {{destination.postal_code}} </br>
  <small>
    Lembre-se que retiradas só podem ser feitas das 8:00 até as 18:00
  </small>
</p>
